# File & folder sensitif/ lokal
*.log

# Isi uploads (pertahankan folder, abaikan file)
uploads/produk/*
uploads/artikel/*
uploads/galeri/*
!uploads/produk/.gitkeep
!uploads/artikel/.gitkeep
!uploads/galeri/.gitkeep

# OS
Thumbs.db
Desktop.ini

# Editor
.vscode/
.idea/
